@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}
.payment-app {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 8px 32px rgb(77, 101, 117 , 35%);
    border-radius: 12px;
    border-color: transparent;
    height: auto;
    padding-bottom: 30px;
}
.bold-font {
    font-weight: 600;
}
.toast-header{
    color: #070C11;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}
input:not(:focus):valid ~ .floating-label,
input:focus ~ .floating-label
{
  top: 0px;
  left: 15px;
  font-size: 13px;
  opacity: 1;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 15px;
  transition: 0.2s ease all;
  font-size: 16px;
  color: #68879A;
}
form{
    width: 70%;
    margin: 0 auto;
}
form input[type="number"] {
    padding-right: 10px;
}
form select {
    padding-right: 15px;
    padding-left: 40px;
}
form input, select {
    padding-right: 15px;
    padding-left: 15px;
}
form .name {
    padding-right: 10px;
    padding-left: 50px;
}
form input, select {
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    height: 56px;
}
.exp-wrapper{
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    border-radius: 6px;
}
.exp-wrapper::after {
    content: '/';
    position: absolute;
    left: 58px;
    margin-left: -4px;
    color: #aaa;
    top: 14px;
}
.exp-wrapper input {
    width: 58px;
    border: none;
    outline: none;
    height: 98%;
}
button:disabled,
button[disabled], .disabled{
    border: none;
    background: #2AF5D6;;
    color: #aaa;
}
.exp-wrapper input:hover , .exp-wrapper input:focus {
    border: none  !important;
    outline: none  !important;
}
.exp-wrapper input:first-child::after {
    content: "/";
}
.exp-wrapper input:last-child::after{
    width: 80%;
}
form .default-input {
    border: 1px solid #C8D4EA;
}
form .error {
    border: 1px solid #FF0000  !important;
}
input:focus, select:focus {
    outline: none !important;
    border: 1px solid #23C5AC;
}
form .field-wrapper .card-img  {
    position: absolute;
    left: 13px;
    top: 17px;
}
form .field-wrapper .country-flag {
    position: absolute;
    left: 13px;
    top: 23px;
}
form .field-wrapper .span-right {
    position: absolute;
    right: 118px;
    top: 4px;
}
form .field-wrapper .error-icon {
    position: absolute;
    right: 18px;
    top: 16px;
    color: #68879A;
    display: none;
}
form .field-wrapper .span-right-text {
    position: absolute;
    right: 35px;
    top: 16px;
    color: #68879A;
}

button{
    outline: none !important;
    padding: 12px 20px 12px 20px;
    font-weight: 700;
}
.default-button {
    background: #2AF5D6;
    border: 1px solid #2AB8F5;
    color: #070C11;
    border-radius: 6px;
    transition: background, color.2s;
}
.default-button:hover {
    background: #5FFFE6;
}
.secondary-layer{
    background: transparent;
    border: 2px solid #00B900;
    color: #070C11;
    border-radius: 6px;
    font-size: 16px;
}

.header-info {
    display: flex;
    align-items: center;
}
.header-info div {
    height: 100%;
}
.step-label {
    width: 31px;
    height: 26px;
    background: #1169FF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.step-label .span-right {
    color: white;
}
.payment-methods-wrapper {
    display: flex;
    overflow: auto;
}
.payment-methods-wrapper .payment-method-block {
    background: #FFFFFF;
    border: 1px solid #F2F7FF;
    box-sizing: border-box;
    box-shadow: 0px 5px 12px rgba(94, 104, 123, 0.2);
    border-radius: 4px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 15px;
}
.p-method-name {
    width:110px;
}
.success-screen {
    background: #E2FDE3;
    box-shadow: 0px 3px 7px rgba(0, 185, 0, 0.25);
    position: fixed;
    top: 15px;
    right: 15px;
}
.close-button {
    cursor: pointer;
}




// Scroll
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(211, 211, 211, 0.49);
    border-radius: 7px;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #23C5AC;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #23C5AC;
  }

@media screen and (max-width: 320px) {
    .payment-app {
        width: 90%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .payment-app {
        width: 85%;
    }
    form{
        width: 70%;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .payment-app {
        width: 95%;
    }
    form{
        width: 80%;
    }
    .payment-methods-wrapper .payment-method-block{
        margin-right: 15px;
    }
}